flows.json
[{"id":"86529df2.538518","type":"ui_form","z":"486d4e47.889b28","name":"","label":"Life Expectancy Predictions","group":"5e97ee4b.d405a","order":0,"width":0,"height":0,"options":[{"label":"Percentage Expenditure","value":"a","type":"number","required":true,"rows":null},{"label":"Income Comp Of Resources","value":"b","type":"number","required":true,"rows":null},{"label":"HIV","value":"c","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Developing","value":"e","type":"switch","required":false,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"HepatitisB","value":"g","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"GDP","value":"l","type":"number","required":true,"rows":null},{"label":"Population","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Schooling","value":"p","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":false,"f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":140,"y":80,"wires":[["550d9973.dc584"]]},{"id":"550d9973.dc584","type":"function","z":"486d4e47.889b28","name":"Pre Token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey = \"1Dx88-WsetZerbpn1DE_RFBCX2I9WQSpnfpaKhQ2nEMu\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":160,"wires":[["4fe50cb3.a3c194"]]},{"id":"4fe50cb3.a3c194","type":"http request","z":"486d4e47.889b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":290,"y":200,"wires":[["eb2c644d.15ed58"]]},{"id":"eb2c644d.15ed58","type":"function","z":"486d4e47.889b28","name":"Pre Prediciton","func":"var token = msg.payload.access_token;\nvar instance_id = \"e8ffe42f-72e7-42a9-899d-4172b9aad84a\";\nmsg.headers = {'Content-Type': 'application/json',\"Authorization\":\"Bearer\"+token, \"ML-Instance-ID\":instance_id}\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload = {\"fields\":['winsorized_Life_Expectancy', 'winsorized_Income_Comp_Of_Resources','winsorized_HIV', 'winsorized_Adult_Mortality','developing'],\"values\": [[a,b,c,d,e]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":260,"wires":[["faee98a6.18e4f8","30574883.d863f8"]]},{"id":"9bba3538.aee348","type":"ui_text","z":"486d4e47.889b28","group":"5e97ee4b.d405a","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":420,"wires":[]},{"id":"3db9d6dc.ebe4d2","type":"function","z":"486d4e47.889b28","name":"","func":"msg.payload = msg.payload.values[0]\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[["9bba3538.aee348"]]},{"id":"30574883.d863f8","type":"http request","z":"486d4e47.889b28","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e8ffe42f-72e7-42a9-899d-4172b9aad84a/deployments/e5273500-198a-4f26-8cdc-b9931a864bf3/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":320,"wires":[["18a116f1.58a119","3db9d6dc.ebe4d2"]]},{"id":"faee98a6.18e4f8","type":"debug","z":"486d4e47.889b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":180,"wires":[]},{"id":"18a116f1.58a119","type":"debug","z":"486d4e47.889b28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":420,"wires":[]},{"id":"5e97ee4b.d405a","type":"ui_group","z":"","name":"Life Expectancy","tab":"b95b4eeb.4a5a58","order":1,"disp":true,"width":"6","collapse":false},{"id":"b95b4eeb.4a5a58","type":"ui_tab","z":"","name":"Prediction","icon":"dashboard","disabled":false,"hidden":false}]